@import "../scss/variables";

.buy {
  background: $darkblue;
  display: flex;
  flex-direction: column;

  .content {
    flex: 7;
    @extend %center;
    flex-direction: column;

    .btn {
      border-radius: 3px;
      color: white;
      font-size: 1.2rem;
      font-weight: 700;
      background: $green;
      padding: 1.5rem;
      margin-top: auto;
      margin-bottom: 2rem;
      @extend %center;
    }

    p {
      color: rgba($color: #fff, $alpha: 0.7);
      font-size: 1.2rem;
      font-style: italic;
      padding: 2rem 3rem;
      text-align: center;
    }

    h1 {
      color: $pink;
      font-size: 2.4rem;
      text-align: center;
      line-height: 2.4rem;
      margin: 0.5rem 2.6rem;
      text-shadow: 1px 1px 0 rgba($color: #fff, $alpha: 0.1);
    }

    .when {
      font-size: 1.2rem;
      font-weight: 700;
      color: $green;
      text-align: center;
      margin: 0;
      padding: 0.25rem 0;
    }

    .where {
      font-size: 1.2rem;
      color: rgba($color: #fff, $alpha: 0.6);
      text-align: center;
      margin: 0;
      padding: 0;
    }

    .price {
      font-size: 2rem;
      line-height: 2.3rem;
      color: white;
      text-shadow: 1px 1px 0 #f56b9a;
      @extend %center;
      margin-top: auto;
    }
  }
}
